@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
body{
    background-color: #df9fbf;
}
.text-center{
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.main{
    background: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .7)),
                url('../testelaqe/bg.jfif') ;
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.material-icons{
    color: white;
}
.table {
    background-color: darkslategray;
   
    
}
